<div class='searchForm'>
  <% form_for (@storyLinks) do |f| %>
    
    <span class="searchAuthTitle">By Author</span></br>
    <%= f.label :lastName, "Last Name", class: "searchLast" %>
    <%= f.text_field :lastName, class: "searchATextBox" %>
  
  <% end %>
</div>
