<div>
  <%= form_for(@text_element) do |t| %>
    <%= t.text_area :content, size: '60x20', value: @text_element.content, class: 'storyTextArea' %>
    <%= t.submit "Update Text" %>
  <% end %>
</div>
