.searchScreen{
	#background-color: #A7A7B3;
	background-color: #A7A7E3;
}

.searchForm{
	font-size: 30pt;
	font-family: Eras ITC;
	display: inline;
}

.searchLeft{
	float: left;
	width: 30%;
	margin-top: 40px;
	margin-left: 8%;
}

.searchCenter{
	float: left;
	padding-left: 4%;
	margin-top: 40px;
	width: 30%;
}

.searchRight{
	float: right;
	margin-top: 40px;
	width: 28%;
}

.searchA {
	align: center;
	margin-bottom: 10px;
}

.searchATextBox{
	margin-top: 8px;
	height: 32px;
	width: 100%;
}

.searchLast{
	margin-top: 4%;
	margin-bottom: 15%;
	font-size: 18px;
	font-style: italic;
	width: 45%;
	float: left;
}

.searchFirst{
	margin-top: 4%;
	margin-bottom: 15%;
	margin-left: 1%;
	font-size: 18px;
	font-style: italic;
	width: 45%;
	float: left;
}

.searchL {
	margin-top: 15px;
	margin-bottom: 10px;
}

.searchLTextBox{
	margin-top: 4%;
	height: 32px;
	width: 91%;
}

.searchT{
	margin-bottom: 10px;
}

.searchT > label{
	font-size: 18pt;
	font-family: Eras ITC;
	display: block;
}

.searchS{
	margin-bottom: 10px;
}

.searchS > label{
	font-size: 18pt;
	font-family: Eras ITC;
	display: block;
}

.searchButtons{
	width: 33%;
	margin-top: 24%;
	margin-left: 40%;
	margin-right: auto;
	clear: both;
}

.searchSubmit{
	#margin-top: 14%;
	margin-left: 7%;
	height: 40px;
	width: 80px;
	#clear: both;
}

.searchReset{
	#margin-top: 14%;
	height: 40px;
	width: 80px;
	#clear: both;
}

.storyDetails{
    font-size: 18pt;
    padding-left: 15%;
}
