.index{
	border: 2px solid;
	border-radius: 10px;
	margin-left: 20%;
	margin-top: 12%;
	width: 60%;
	background-color: #999999;
}

.indexTitle {
	font-size: 120;
	font-family: AR BLANCA;
	color: #DB0014;
	text-align: center;
	padding: 15px;
	
}

.indexTitle > a:visited{
	color: #DB0024;
}

.indexTagline{
	font-size: 46;
	#font-family: AR BLANCA;
	text-align: center;
	color: #222222;
	margin-bottom: 2%;
}

.spacer{
	padding-top: 5px;
	background-color: white;
	width: 100%;
}

.navbar > div > nav > ul > li{
	color: #424242;
	font-size: 36px;
	font-family: 'High Tower Text';
	display: inline;
	text-align: center;
}

.navbar > div > nav > ul > li  > a:visited{
	color: #424242;
}

.navbar > div > nav > ul > li  > a:hover{
	color: yellow;
}

.navbar {
	background-color: #00BB77;
	border: 2px solid;
	border-radius: 10px;
}

.current{
	background-color: #00CC77;
	border: 1px solid;
	border-radius: 8px;
}

.navImgGuest{
	padding: 0 5% 0 5%;
	vertical-align: bottom;
}

.navImgUser{
	padding: 0 1.5% 0 1.5%;
	vertical-align: bottom;
}

.navItemGuest{
	margin: 0 2.5% 0 2.5%;
	padding: 0 2.5% 0 2.5%;
}

.navItemUser{
	padding: 0 1.5% 0 1.5%;
        font-size: 36;
        font-family: High Tower Text;
}

#navcreateNS{
	padding: 0 1.5% 0 1.5%;
	visibility: visible;
}

#hidden{
	display: none;
}

#navMyStories{
	padding: 0 1.5% 0 1.5%;
	visibility: visible;
}

.worldmap{
	border: 2px solid;
	border-radius: 10px;
	#float: right;
	#margin-left: 5%;
	#margin-right:5%;
}

a:link{
	text-decoration: none;
}

footer{
	
}

body {
	background-color: #EEEEEE;
}
